<nav class="navbar bg-dark navbar-expand-md" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">YelpCamp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about-us">About Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
              Campground
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/campground">All Campgrounds</a></li>
              <li><a class="dropdown-item" href="/campground/new"> Add New Camp</a></li>
            </ul>
          </li>
        </ul>
        <div class="navbar-nav ml-auto">
          <%if(!currentUser){%>
            <a href="/user/login" class="nav-link">Login</a>
            <a href="/user/register" class="nav-link">Register</a>
            <%}else{%>
            <form class="d-flex me-5" role="search">
              <input class="form-control me-2" type="search" placeholder="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <a href="/user/logout" class="nav-link">Logout</a>
            <%}%>
        </div>
      </div>
    </div>
  </nav>